<body class="container">
  <h1 class="form-title">Add a new vendor</h1>
  <form action="/vendor" method="post">
    <div>
      <label for="Name">vendor full name</label>
      <input id="Name" name="Name" type="text" required>
    </div>
    <div>
      <label for="Description">vendor description</label>
      <input id="Description" name="Description" type="text">
    </div>
    <button type="submit">Add Vendor</button>
  </form>

<p><a href="/vendors">all vendors page</a></p>
<p><a href="/">Home</a></p>

</body>