@{
  Layout = "_Layout";
}
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome, Pierre! What a happy day for sales tracking, eh?</h1>
      <p></p>
    </div>
    <div class="home-menu">
      <h2 class="heading">Main Options</h2>
      <ul class="nav-options">
        <li><a href="" class="">Add Vendor Form</a></li>
        @* <li><a href="" class="">see all vendors</a></li>
        <li><a href="" class=""></a></li> *@
      </ul>
      
      <ul class="vendors-all">

      </ul>
    </div>
  </div>
</body>
</html>