<body>
  <h1>Welcome to your vendor and order tracking app</h1>
  <div class="home-menu">
    <h2 class="heading">Main Options</h2>
    <ul class="nav-options">
      <li><a href="/vendors">Vendors Page</a></li>
    </ul>
  </div>
</body>
</html>